*{
 padding: 0;
 border: 0;
 margin: 0;
}

.title {
  padding: 14px 16px;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  color: white;
  background-color: black;
}

.EHead{
  padding: 60px 60px;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
}

.Encryptor {
  padding: 30px;
  font-size: 15px;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
}
