.title {
  padding: 14px 16px;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  color: white;
  background-color: black;
}

.Encryptor {
  padding: 30px;
  font-size: 15px;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
}
